[submodule "geonav_transform"]
	path = geonav_transform
	url = https://github.com/bsb808/geonav_transform.git
[submodule "hector_gazebo"]
	path = hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo.git
	branch = kinetic-devel
[submodule "hector_localization"]
	path = hector_localization
	url = https://github.com/tu-darmstadt-ros-pkg/hector_localization.git
[submodule "kingfisher_control"]
	path = kingfisher_control
	url = https://github.com/bsb808/kingfisher_control.git
[submodule "kingfisher"]
	path = kingfisher
	url = https://github.com/kf/kingfisher.git
[submodule "kingfisher_gazebo"]
	path = kingfisher_gazebo
	url = https://github.com/bsb808/kingfisher_gazebo.git
	branch = kinetic-devel
[submodule "kingfisher_utils"]
	path = kingfisher_utils
	url = https://github.com/bsb808/kingfisher_utils.git
[submodule "robotx_tutorial"]
	path = robotx_tutorial
	url = https://github.com/bsb808/robotx_tutorial.git
[submodule "usv_gazebo_plugins"]
	path = usv_gazebo_plugins
	url = https://github.com/bsb808/usv_gazebo_plugins.git
[submodule "buoyancy_gazebo_plugin"]
	path = buoyancy_gazebo_plugin
	url = https://github.com/bsb808/buoyancy_gazebo_plugin.git
[submodule "pypid"]
	path = pypid
	url = https://github.com/bsb808/pypid.git
